.loading-box {
    -fx-background-color: rgba(68, 68, 68, 0.5);
    -fx-alignment: CENTER;
}
.loading-box .label {
    -fx-background-color: -fx-base;
    -fx-min-width: 100px;
    -fx-font-size: 16px;
    -fx-content-display: BOTTOM;
    -fx-graphic-text-gap: 8px;
    -fx-padding: 8px;
}