
.root {
    -fx-base: rgb(68, 68, 68);
    -fx-background: -fx-base;
    -fx-color: derive(-fx-base, -10%);
    -fx-accent: rgb(68, 120, 216);
    -fx-focus-color: rgb(58, 102, 184);
    -fx-faint-focus-color: rgba(58, 102, 184, 0.15);
    -fx-mark-color: ladder(-fx-base, white 30%, derive(-fx-base, -36%) 31%);
    -fx-control-inner-background: rgb(42, 42, 42);
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 5%);
}
.menu-bar {
    -fx-background-color: -fx-base;
}
.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: derive(-fx-base, -10%);
}
.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-insets: 0, 2 0 0 0;
    -fx-background-color: derive(-fx-base, -15%);
}
.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: rgba(58, 102, 184, 0.67), -fx-base;
}
